
.head {
    color: white;
    padding-top: 3rem;
    padding-left: 2rem;
}

.head h1 {
    font-size: 62px;
}

.head h1::after {
    content: "String Manipulation";
    color: #1c1c1c;
    display: block;
    position: absolute;
    top: 40px;
    left: 155px;
}

.main {
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    background-color: #b5c4f1;
}

.string-box {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.string-question {
    padding-left: 1rem;
    padding-bottom: 0;
    font-size: 20px;
    width: 46rem;
    background-color: #81a5b0;
    color: white;
    border-radius: 5px;
    transform: translateY(5px);
    position: static;
}

.string-question::before {
    content: open-quote;
    font-size: 42px;
}

.string-question::after {
    content: close-quote;
    font-size: 24px;
}

.string-answer {
    width: 52rem;
    padding-left: 2rem;
    padding: 1rem;
    font-size: 36px;
    background-color: gray;
    color: white;
    box-shadow: 0 0 0 5px #88a4ed, 0 0 0 10px #1d62a9, 0 0 0 15px #1a236f;
    border-radius: 2px;
    position: relative;
}
